* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
/*Header styling*/
.header-container {
  background-color: #f5595a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header-img-detail {
  width: 24px;
  margin-right: 5px;
}
.header-title {
  font-weight: 500;
  font-size: 14.46px;
  font-style: medium;
  color: white;
  letter-spacing: 0.075rem;
}
/*Entry styling*/
.entry-item {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.image-container {
  width: 225px;
  height: 268px;
  overflow: hidden;
  margin: 20px;
  border-radius: 5px;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.location-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.location {
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.location-details {
  display: block;
}
